<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.turing.base">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity_"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.HttpActivity_" />
        <activity android:name=".activity.LoadWebActivity_" />
        <activity android:name=".activity.LoadPicActivity_" />
        <activity android:name=".activity.LoginActivity_" />
        <activity android:name=".activity.JsonActivity_" />
        <activity android:name=".activity.XmlActivity_" />
        <activity android:name=".activity.DownLoadActivity_" />
        <activity android:name=".activity.Upload_HttpUrlConnection_Activity_" />
        <activity android:name=".activity.ListViewFunctionsActivity_" />
        <activity android:name=".activity.UI_Base_" />

        <!-- 该Activity未设置任何intent-filter,用显式的方式调用这个Activity -->
        <activity
            android:name=".activity.intentAct.XianSiDiaoyongAct"
            android:label="XianSiDiaoyongAct" />
        <!-- 隐式调用Activity -->
        <activity
            android:name=".activity.intentAct.YinSiDiaoyngAct"
            android:icon="@drawable/flag_mark_red"
            android:label="YinSiDiaoyngAct">
            <intent-filter>
                <action android:name="myAction1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <!-- 这个intent-filter和YinSiSelectAct的intent的相同 -->
            <intent-filter>
                <action android:name="myAction2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="mycategory" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.intentAct.YinSiSelectAct"
            android:icon="@drawable/flag_mark_yellow"
            android:label="YinSiSelectAct">

            <!-- 这个intent-filter和YinSiDiaoyngAct的第二个intent-filter相同，使用这个intent-filter，屏幕会弹出一个列表，供用户选择 -->
            <intent-filter>
                <action android:name="myAction2" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="mycategory" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.lifeCircle.LifeCircleActivity"
            android:label="@string/title_activity_life_circle" />
        <activity android:name=".activity.intentAct.GetIntentActivity" />
        <activity android:name=".activity.intentAct.StaticTransmitActivity" />
        <activity android:name=".activity.intentAct.ClipBoardTransStringActivity" />
        <activity android:name=".activity.intentAct.ClipboardTransObjectDataAct" />
        <activity android:name=".activity.intentAct.ApplicationTransActivity" />
        <activity android:name=".activity.intentAct.StarActivityForResultAct" />
        <activity android:name=".activity.textViewAct.TextViewDemoAct" />
        <activity android:name=".activity.textViewAct.RichTextViewAct" />
        <activity android:name=".activity.textViewAct.MultTextPicAct" />
        <activity android:name=".activity.textViewAct.Jump2Activity" />
        <activity android:name=".activity.textViewAct.JumpTerminalAct" />
        <activity android:name=".activity.textViewAct.AddBackgroundAct" />
        <activity android:name=".activity.textViewAct.BorderTextViewAct" />
        <activity android:name=".activity.textViewAct.LineSpaceTextViewAct" />
        <activity android:name=".activity.textViewAct.IgnoreTextAct" />
        <activity android:name=".activity.textViewAct.LampTextViewAct" />
        <activity android:name=".activity.textViewAct.ScrollTextViewAct" />
        <activity android:name=".activity.editTextAct.InputTextAndPicAct" />
        <activity android:name=".activity.editTextAct.EditTextDemoAct" />
        <activity android:name=".activity.editTextAct.SpecialCharcterEditTextAct" />
        <activity android:name=".activity.editTextAct.AutoCompleteTextViewAct" />
        <activity android:name=".activity.buttonAct.ButtonDemoAct" />
        <activity android:name=".activity.buttonAct.ButtonAct" />
        <activity android:name=".activity.buttonAct.TextAndPicButtonAct" />
        <activity android:name=".Service_Base" />
        <activity android:name=".activity.buttonAct.ImageButtonAct" />
        <activity android:name=".activity.buttonAct.RadioButtonAct" />
        <activity android:name=".activity.buttonAct.ToogleButtonAct" />
        <activity android:name=".activity.buttonAct.CheckBoxAct" />
        <activity android:name=".activity.listViewAct.ListViewDemoAct" />
        <activity android:name=".activity.imageViewAct.ImageViewDemoListAct" />
        <activity android:name=".activity.imageViewAct.ImageViewBase" />
        <activity android:name=".activity.imageViewAct.ImageViewShowPartAct" />
        <activity android:name=".activity.imageViewAct.ImageViewMatrixAct" />
        <activity android:name=".activity.viewstub.ViewStubAct" />
        <activity android:name=".activity.tabhost.TabHostAct" />
        <activity android:name=".activity.listViewAct.ListViewWithRadioBtnChkBox" />
        <activity android:name=".activity.listViewAct.ListViewCRUD" />
        <activity android:name=".activity.listViewAct.ListViewActivityDemo" />
        <activity android:name=".activity.listViewAct.ExpandableListViewAct" />
        <activity android:name=".activity.spinnerAct.SpinnerAct"></activity>
    </application>

</manifest>
